.clients-opinion-wrapper{
    margin: 20px auto 30px;
    .clients-opinion-component{
        margin-bottom: 15px;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 6px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(300, 43%, 22%);
        .client-image{
            margin-right: 15px;
            height:40px;
            border-radius: 50%;
        }
        .verified{
          color: hsl(333, 80%, 67%);
        }
        .clients-opinion{
            line-height: 1.3;
            padding-top: 15px;
            color:  hsl(300, 1%, 83%);
        }
    }
}