// custom SCSS variables
// fonts
$body-font: Arial, Helvetica, sans-serif;
$font-size: 15px;
// colors
$header-txt:hsl(303, 10%, 53%);
$rates-bgc:hsl(300, 24%, 96%);
$clients-bgc:hsl(300, 43%, 22%);
$clients-verified:hsl(333, 80%, 67%);
$clients-txt: hsl(300, 1%, 83%);

